{% if site.data.settings.disqus.comments and page.comments %}
<div id="disqus_thread"></div>
<script>
/**
*  권장 구성 변수: 아래 섹션을 편집하고 주석을 해제하여
*  사용 중인 플랫폼/CMS에서 동적 값을 주입하세요.
*  왜 이 변수들을 정의해야 하는지: https://disqus.com/admin/universalcode/#configuration-variables
*/

var disqus_config = function () {
  this.page.url = "https://alainpham.github.io{{ page.url }}";  // 페이지의 정규 URL 변수로 교체
  // this.page.identifier = "{{ page.id }}"; // 페이지의 고유 식별자 변수로 교체
};

(function() { // 이 아래는 수정하지 마세요
  var d = document, s = d.createElement('script');
  s.src = '//{{ site.data.settings.disqus.disqus_shortname }}.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
